.social-btn {
  display: inline;
  height: 25px;
  width: 50px;
  background: #9ad2f5;
  border: 5px;
  color: #353e4a;
  text-align: center;
  font: helvetica;
  padding: 10px;
  margin: 50px 50px 50px 50px;
  border-radius: 40px;
}